{% extends 'base1.html' %}
{% load staticfiles %}
{% block content_block %}
<div class="account">
	<div class="container">
		<h1>登录</h1>
		<div class="account_grid">
			   <div class="col-md-6 login-right">
				<form action="{% url 'login' %}" method="post">
                    {% csrf_token %}
					<span>用户名</span>
					{{ login_form.username }}
				
					<span>密码</span>
					{{ login_form.password }}
                    <br> </br>
                    <img src="{% url 'verification_code' %}"
                onclick="javascript:
                this.src='/verification_code/'+ Math.ceil(Math.random()*1000) +'/' "
                    />
                    <span>验证码</span>
					{{ login_form.captcha }}
					<div class="word-in">
				  		<a class="forgot" href="#">忘记密码？</a>
                        <input type="hidden" name="source_url" value="{{ request.META.HTTP_REFERER }}">
				 		<input type="submit" value="登录">
				  	</div>
			    </form>
			   </div>	
			    <div class="col-md-6 login-left">
			  	 <h4>还没有帐号？</h4>
				 <a class="acount-btn" href="{% url 'register' %}">创建帐号</a>
			   </div>
			   <div class="clearfix"> </div>
			 </div>
	</div>
</div>
{% endblock %}