{% extends 'base1.html' %}
{% load staticfiles %}

{% block content_block %}
    <div class="content">
    <div class="container">
        <div class="content-top">
            <h1></h1>
            <h1><a href="{% url 'query2' %}?table=1"  >1．小区配置信息查询</a></h1>
            <h1><a href="{% url 'query2' %}?table=2"  >2．基站eNodeB信息查询</a></h1>
            <h1><a href="{% url 'query2' %}?table=3"  >3．KPI指标信息查询</a></h1>
            <h1><a href="{% url 'query2' %}?table=4"  >4．PRB信息统计与查询</a></h1>
            <div class="content-top1">

            <div class="clearfix"> </div>
            </div>
        </div>

    </div>
    </div>

{% endblock %}
